body {
    font-family: "Verdana", verdana, arial, helvetica, sans-serif;
    font-size: 14px;
    background: url(/static/katie.png);
    padding: 10px;
}

h1 {
    color: #777777;
    font-weight: bold;
    font-size: 30px;
    margin-top: 6pt;
    margin-bottom 6pt;
}

h2 {
    color: #777777;
    font-weight: bold;
    font-size: 20px;
}

p {}
form {}

.course_list {}
.course {
    background-color: #FFFFFF;

    margin-bottom: 2px;

    border-style: solid;
    border-width: 1px;
    border-bottom-width: 3px;
    border-color: #DCDCDC;
    border-radius: 5px;
    -moz-border-radius: 5px;
}

.course_list .course {
    height: 50px;
}

.course_title {}
.course_hours {}
.course_details {}

.dept_list {}
.dept {
    background-color: #FFFFFF;

    margin-bottom: 2px;

    border-style: solid;
    border-width: 1px;
    border-bottom-width: 3px;
    border-color: #DCDCDC;
    border-radius: 5px;
    -moz-border-radius: 5px;
}

.review_list {
    background-color: #FFFFFF;

    margin-bottom: 2px;

    border-style: solid;
    border-width: 1px;
    border-bottom-width: 3px;
    border-color: #DCDCDC;
    border-radius: 5px;
    -moz-border-radius: 5px;
}
.review {}

#norsecourse {
    font-weight: bold;
    font-size: 40px;
    font-variant: small-caps;
}

#title {}
#dept {}
#gen_eds {
    height: 150px;
    width: 200px;
}
#stars {}
#content {
    height: 150px;
    width: 500px;
    max-width: 100%;
}