body
{
    font-family: "Verdana", verdana, arial, helvetica, sans-serif;
    font-size: 11px;
    background: url(/static/katie.png);
}

h1
{
    color: #777777;
    font-weight: bold;
    font-size: 30px;
    margin-top: 6pt;
    margin-bottom 6pt;
}