body {
    font-family: "Verdana", verdana, arial, helvetica, sans-serif;
    font-size: 14px;
    background: url(/static/katie.png);
    text-align: center;
    position: absolute;
    left: 50%;
    width: 70%;
    max-width: 100%;
    margin-left: -35%;
}

h1 {
    color: #777777;
    font-weight: bold;
    font-size: 30px;
    margin-top: 6pt;
    margin-bottom 6pt;
}

h2 {
    color: #777777;
    font-weight: bold;
    font-size: 20px;
}

h3 {
    color: #777777;
    font-size: 14px;
    font-weight: bold;
}

p {}
.results p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.course_list p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

form {}

.box {
    background-color: #FFFFFF;

    transition-property: background-color, border-color;
    transition-duration: 0.25s;
    transition-timing-function: ease-out;

    margin-bottom: 2px;

    border-style: solid;
    border-width: 1px;
    border-bottom-width: 3px;
    border-color: #DCDCDC;
    border-radius: 5px;
    -moz-border-radius: 5px;
}

.course_list {}
.course {
    background-color: #FFFFFF;

    margin-bottom: 2px;

    border-style: solid;
    border-width: 1px;
    border-bottom-width: 3px;
    border-color: #DCDCDC;
    border-radius: 5px;
    -moz-border-radius: 5px;
}

.course_list .course {
    height: 50px;
}
.course_title {}
.course_hours {}
.course_details {}

.date {
    text-align: right;
    font-style: italic;
}

.dept_list {}
.dept {
    background-color: #FFFFFF;

    margin-bottom: 2px;

    border-style: solid;
    border-width: 1px;
    border-bottom-width: 3px;
    border-color: #DCDCDC;
    border-radius: 5px;
    -moz-border-radius: 5px;
}

.alt_desc {}

#norsecourse {
    font-weight: bold;
    font-size: 40px;
    font-variant: small-caps;
}

#tips p {
    text-align: justify;
    padding-left: 20px;
}
#tips p::first-letter {
    margin-left: -20px;
}
.course_details p {
    text-align: left;
}
