{% extends "base.html" %}

{% block title %}{{ course.id }} {{ course.title }}{% endblock %}

{% block brand %} {{course.id }} {% endblock brand %}
{% block content %}
{{ super() }}  
<div class="course">
  <h2 class="course_title">{{course.id}} {{course.title}}</h2>
  <p class="course_hours">{{course.hours}}</p>

  <p class="course_details">{{course.desc}}
    {% if course.prereqs != 'N/A' %}
    <br/>Prerequisites: {{course.prereqs}}
    {% endif %}
    {% if course.same_as != 'N/A' %}
    <br/>Same as: {{course.same_as}}
    {% endif %}
    {% if course.geneds != 'N/A' %}
    <br/>General education fulfillments: {{course.gen_eds}}
    {% endif %}
  </p>
  
</div>

<h2>Reviews</h1>
<div class="review_list">
  {% for review in reviews %}
  <div class="review">
    <p>Rating: {{review.stars}}</p>
    <p>{{review.content}}</p>
    <br/>
  </div>
  {% endfor %}
</div>

<h2>Submit Review</h1>
<form method="GET", action="/catalog/{{course.dept}}/{{course.dept}}{{course.number}}/submit">
  {% for field in form %}
  {{ render_field(field) }}
  {% endfor %}
  <input type="submit" value="Submit!"/>
</form>

{% endblock %}
