{% extends "base.html" %}

{% block title %}{{result.id}} {{result.title}}{% endblock %}


{% block content %}
{{ super() }}  
<h1>{{result.title}}</h1>
<p>Course: {{result.id}}     Credits: {{result.hours}}</p>
<p> Description: {{result.desc}}</p>

{% if result.prereqs != '' %}
  <p>Prerequisites: {{result.prereqs}}</p>
{% endif %}

{% if result.same_as != '[]' %}
  <p>Same as: {{result.same_as}}</p>
{% endif %}


<form method="GET", action="/coursefinder/catalog/{{course_id}}/submit">

{% for field in form %}
  {{ render_field(field) }}
{% endfor %}
<input type="submit" value="Submit!"/>
</form>

{% endblock %}
