{% extends "base.html" %}

{% block title %}{{ course.id }} {{ course.title }}{% endblock %}

{% block brand %} {{course.id }} {% endblock brand %}

    {% block content %}
    {{ super() }}  
    <p class="nav_tree">
      <a href="/catalog">Catalog</a> &#8594;
      <a href="/catalog/{{course.dept}}">{{course.dept}}</a> &#8594;
      <b>{{course.id}}</b>
    </p>

    <div class="box row">
      <h2 class="course_title">{{course.id}} {{course.title}}</h2>
      <hr>
      <div class="course_details">
        <div class="col-sm-8 col-md-9 col-lg-10">
          <p>{{course.desc}}</p>
        </div>
	
        <div class="col-sm-4 col-md-3 col-lg-2">
          <p>
            <strong>Hours:</strong> {{course.hours}}<br>
            <strong>Prereqs:</strong> {{course.prereqs}}<br>
            <strong>Same as:</strong> {{course.same_as}}<br>
            <strong>Gen eds:</strong> {{course.gen_eds}}
          </p>
        </div>
      </div>
    </div>

    {% if alt_descs|length -%}
    <br>

    <div class="box row">
      <h2>User-Submitted Descriptions</h2>
      <div class="alt_desc_list">
        {% for alt_desc in alt_descs -%}
        <hr/>
        <div class="alt_desc">
          <p class="date">Submitted {{alt_desc.date_submitted}}</p>
          <p>{{alt_desc.content}}</p>
        </div>
        {%- endfor %}
      </div>
    </div>
    {%- endif %}

    <div class="row"><br></div>

    <div class="box row">
      <h2>Submit Alternative Description</h2>
      <form method="GET" action="/catalog/{{course.dept}}/{{id_to_url(course.id)}}/submit">
        {%- for field in form %}
        {{field}}<br>
        {% endfor -%}
        <input type="submit" value="Submit!"/>
      </form>
      <br>
     </div>
    {% endblock %}
