{% extends "base.html" %}

{% block brand %} {{ dept }} {% endblock brand %}

{% block content %}
{{ super() }}
<p class="nav_tree">
  <a href="/catalog">Catalog</a> &#8594
  <b>{{ dept }}</b>
</p>

<h1 class="dept_name">{{ dept }}</h1>
<div class="course_list">
  {% for course in courses %}
  <div class="col-md-4 course">
    <p class="course_title">{{ course.id }}<a href="/catalog/{{dept}}/{{id_to_url(course.id)}}">
	{{ course.title }}
    </a></p>
  </div>
  {% endfor %}
</div>

{% endblock content %}
